{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
    <h1>Modifier Client</h1>

    {{ include('clients/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('clients_index') }}">back to list</a>

    {{ include('clients/_delete_form.html.twig') }}
{% endblock %}
