{% extends 'base.html.twig' %}

{% block title %}Clients index{% endblock %}

{% block body %}
    <h1>Listes Des Clients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date</th>
                <th>Prix</th>
                <th>Paiement</th>
                <th>Facture</th>
                <th>Type</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.date ? client.date|date('Y-m-d') : '' }}</td>
                <td>{{ client.prix }}</td>
                <td>{{ client.paiement }}</td>
                <td>{{ client.facture }}</td>
                <td>{{ client.type }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.telephone }}</td>
                <td>
                    <a href="{{ path('clients_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('clients_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('clients_new') }}">Create new</a>
{% endblock %}
