{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ client.date ? client.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ client.prix }}</td>
            </tr>
            <tr>
                <th>Paiement</th>
                <td>{{ client.paiement }}</td>
            </tr>
            <tr>
                <th>Facture</th>
                <td>{{ client.facture }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ client.type }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ client.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('clients_index') }}">back to list</a>

    <a href="{{ path('clients_edit', {'id': client.id}) }}">edit</a>

    {{ include('clients/_delete_form.html.twig') }}
{% endblock %}
